:css
  td.weekend {
    color: red;
  }
  
  .tasks h2 {
    margin-top: 48px;
    border-bottom: 1px dashed black;
  }
  
  .tasks .task h3 {
    margin-bottom: 0px;
  }

.sidebar

  .calendar
  
    %h3
    = link_to '&larr;'.html_safe, tasks_path(:date => (@calendar_date.beginning_of_month - 1.month))
    = Russian.strftime(@calendar_date, '%B')
    = link_to '&rarr;'.html_safe, tasks_path(:date => (@calendar_date.beginning_of_month + 1.month))
    
    %table
      %thead
        %th Пн
        %th Вт
        %th Ср
        %th Чт
        %th Пт
        %th Сб
        %th Вс
      %tr
        - (@calendar_date.beginning_of_month..@calendar_date.end_of_month).each do |date|
          - week_day = date.cwday
          
          -# offset beginning of calendar
          - if date == @calendar_date.beginning_of_month
            - (week_day-1).times do
              %td.offset
              
          %td{ :class => get_calendar_day_class(date) }
            = link_to date.day, tasks_path(:date => date), class: (@days_with_tasks and @days_with_tasks.include?(date) ? 'has_tasks' : nil)
          
          -# offset end of calendar
          - if date == @calendar_date.end_of_month
            - (7 - week_day).times do
              %td.offset
          
          -# restart the week
          - if week_day == 7
            </tr><tr>

.filter
  
  %ul
    %li= tasks_filter_link_to_attribute(:important, true, 'Важные')
    %li= tasks_filter_link_to_attribute(:important, false, 'Не важные')
    %li= tasks_filter_link_to_attribute(:important, nil, 'Любая важность')    
  
  %ul
    %li= tasks_filter_link_to_attribute(:completed, true, 'Выполненые')
    %li= tasks_filter_link_to_attribute(:completed, false, 'Не выполненые')
    %li= tasks_filter_link_to_attribute(:completed, nil, 'Любой статус выполнения')
    
.tasks
  %h1
    = Russian.strftime(@calendar_date, '%A, %d %b')
    \- Список задач
    [ #{link_to 'Добавить задачу', new_task_path(:date => @calendar_date) }]
  
  - unless @tasks.empty?
  
    - @tasks.each do |task|
      
      %div{ :class => get_task_class(task) }
        %h3= task.name
        .description= task.description
        .actions 
          = link_to 'Редактировать задачу', edit_task_path(task)
          = link_to 'Удалить задачу', task_path(task), :method => :delete
        
  - else

    .empty_list_message
      %p
        Вы пока не добавили ни одной задачи,
        #{link_to 'почему бы не сделать это сейчас?', new_task_path(:date => @calendar_date)}
      %p
        Хотя, с другой стороны, ничего не делать тоже полезно.